# Google Api 金鑰，不需要加引號
GoogleApiKey=

# Redis 連線設定
RedisOption=127.0.0.1,syncTimeout=3000

# Uptime Kuma Push 監視器類型的網址
# 整串網址複製貼上即可
UptimeKumaPushUrl=

# YouTube & 圖奇直播存檔路徑
# 須為絕對路徑
RecordPath=/record

# 錄影暫存路徑
# 須為絕對路徑
TempPath=/record

# YouTube 會限直播保存路徑
# 須為絕對路徑
MemberOnlyPath=/member_only

# YouTube 私人直播保存路徑
# 須為絕對路徑
YouTubeUnarchivedPath=/youtube_unarchived

# 圖奇直播保存路徑
# 須為絕對路徑
TwitchUnarchivedPath=/twitch_unarchived

# Twitch 需要自動保存至刪檔直播資料夾的 UserLogin 清單
# 使用 JSON Array 格式，例如: ["user1", "user2"]
TwitchUnarchivedUserLogins=[]

# Twitch API Client ID
TwitchClientId=

# Twitch API Client Secret
TwitchClientSecret=

# 請參考 https://streamlink.github.io/cli/plugins/twitch.html#authentication 後設定
TwitchCookieAuthToken=

# YouTube Cookie 路徑
# 錄製會限直播及標記為已觀看
# 如不須使用的話可以直接指定到一個空白的文檔
# 須為絕對路徑及 Netscape 格式
CookiesFilePath=/cookies.txt